body {
  background-color: black;
  color:white;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.noScroll{
  overflow: hidden;
}

.scroll{
  overflow: scroll;
}

body, html {
  height: 100%;
}

div #content {
  height: 100%;
}

.studentButtons{
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 3vw 10vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  width: 33.3%;
  cursor: pointer;
  float: left;
}

.employerButtons{
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 3vw 10vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  width: 50%;
  cursor: pointer;
  float: left;
}

.employerButtons:hover, .studentButtons:hover{
  background-color: #3e8e41;
}

.employerButtons:not(:last-child), .studentButtons:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
/*buttons on login page*/
#smd{
  text-align:center;
  font-size: 15vw
}

#pus{
  color:lightgreen;
}

.login{
  font-size: 16px;
  cursor: pointer;
  border: none;

  margin:0 auto;
  display:block;
}

.login-button{
  background-color: white;
  color: black;
  font-size: 20px;

  border-radius: 8px;
  height: 50px;
  width: 33%;
}

.signup-button{
  font-size: 20px;
  background-color: black;
  color: white;
  text-decoration: underline;
  width: 33.3%;
}

/*input tags on login page*/
.loginInput{
  height:10vw;
  width:80vw;
  position:relative;
  left:7vw;

  text-align: center;
  font-size: 5vw;
}

/*sign up page for schools or employer*/

.employerButton{
  font-size: 15vw;
  text-align: center;
  width: 100%;
  height: 50vh;
  background-color: lightgreen;
  border: none;
  color: black;
  font-stretch: condensed;
}

.schoolButton{
  font-size: 15vw;
  text-align: center;
  width: 100%;
  height: 50vh;
  background-color: black;
  border: none;
  color: white;
}

/*sign up page for schools and employers*/
.signUpInput{
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: black;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid green;
  color: white;
  outline: none;
}

.signUpInput:hover{
  border-bottom: 2px solid lightgreen;
}

.signUpButton{
  margin:0 auto;
  display:block;
  border: none;
  padding: 10px;

  background-color: white;
  color: black;
  font-size: 20px;

  border-radius: 20px;
  height: 50px;
  width: 33%;
}

::placeholder{
  color:#bdb9b6;
}

/*contact page*/
#contactPage{
  font-size: 30px;
  font-family: cursive;
}

/*employer schedule page*/
.daysOfWeek{
}

.eventInput{
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: black;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid green;
  color: white;
  font-size: 20px;
  outline: none;
}

.eventInput:hover{
  border-bottom: 2px solid lightgreen;
}

.middleTags{
  text-align: center;
}

.addButton{
  background-color: white;
  color: black;
  font-size: 16px;

  border-radius: 8px;
  height: 30px;
  width: 100px;
}

/*student map page*/
.titles{
  font-size: 5vw;
  color: lightgreen;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

li{
  font-size: 20px;
  font-size: 4vw;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

input[type=button]{
  background-color: lightgreen;
  border: 1px solid lightgreen;
  color: black;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  cursor: pointer;
}

#myBtn {
  font-size: 20px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: lightgreen;
  color: black;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}

/*employer roster page*/
table, th, td{
  font-size: 13px;
  border: 1px solid lightgreen;
  border-collapse: collapse;
  padding: 10px;
}

table{
  width: 100%;
}
